OD_DRAW_STORE=supabase
SUPABASE_PROJECT_REF=wrvjvijhehyqzrowsfyv
SUPABASE_URL=https://wrvjvijhehyqzrowsfyv.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
JZ_SUP_TREEDIGITSINC_SERVROLE=
SUPABASE_PROJECTS_TABLE=projects
TREECAB_SITE_PASSWORD=nina@123@321
TREECAB_AUTH_COOKIE_NAME=treecab_auth
TREECAB_AUTH_COOKIE_VALUE=treecab-session
TREECAB_AUTH_COOKIE_SECURE=false
